platform_access_entries = {
  platform-admin = {
    principal_arn = "arn:aws:iam::851236938302:role/aws-reserved/sso.amazonaws.com/AWSReservedSSO_PlatformAdministrator_REPLACE_ME"
    access_policies = {
      cluster-admin = {
        policy_arn = "arn:aws:eks::aws:cluster-access-policy/AmazonEKSClusterAdminPolicy"
      }
    }
  }

  break-glass = {
    principal_arn = "arn:aws:iam::851236938302:role/idp-prod-break-glass"
    access_policies = {
      cluster-admin = {
        policy_arn = "arn:aws:eks::aws:cluster-access-policy/AmazonEKSClusterAdminPolicy"
      }
    }
  }
}

tenant_access_entries = {
  identity-platform-viewer = {
    principal_arn = "arn:aws:iam::851236938302:role/aws-reserved/sso.amazonaws.com/AWSReservedSSO_IdentityPlatformViewer_REPLACE_ME"
    tenant        = "identity-platform"
    access_level  = "viewer"
  }
  identity-platform-operator = {
    principal_arn = "arn:aws:iam::851236938302:role/aws-reserved/sso.amazonaws.com/AWSReservedSSO_IdentityPlatformOperator_REPLACE_ME"
    tenant        = "identity-platform"
    access_level  = "operator"
  }
  platform-engineering-viewer = {
    principal_arn = "arn:aws:iam::851236938302:role/aws-reserved/sso.amazonaws.com/AWSReservedSSO_PlatformEngineeringViewer_REPLACE_ME"
    tenant        = "platform-engineering"
    access_level  = "viewer"
  }
  platform-engineering-operator = {
    principal_arn = "arn:aws:iam::851236938302:role/aws-reserved/sso.amazonaws.com/AWSReservedSSO_PlatformEngineeringOperator_REPLACE_ME"
    tenant        = "platform-engineering"
    access_level  = "operator"
  }
  data-platform-viewer = {
    principal_arn = "arn:aws:iam::851236938302:role/aws-reserved/sso.amazonaws.com/AWSReservedSSO_DataPlatformViewer_REPLACE_ME"
    tenant        = "data-platform"
    access_level  = "viewer"
  }
  data-platform-operator = {
    principal_arn = "arn:aws:iam::851236938302:role/aws-reserved/sso.amazonaws.com/AWSReservedSSO_DataPlatformOperator_REPLACE_ME"
    tenant        = "data-platform"
    access_level  = "operator"
  }
}
